body {

  background: rgb(40,40,40);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  height: 80vh;
  width: 80vw;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  z-index: 1000;
  border-radius: 8px;
  opacity: 1;
  display: block;
  overflow-y: auto;
  scroll-behavior: smooth;
  
}
.popup_no {
  display: none;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-purpose h3,
.popup-steps h3,
.popup-application-purpose h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.popup-steps ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.popup-steps li {
  margin-bottom: 10px;
}

.popup-steps strong {
  font-weight: bold;
}

.popup-steps p,
.popup-application-purpose p {
  margin: 5px 0;
}


.all-users {
  display: flex;
  margin-bottom: 1rem;



  @media (max-width: 594px) {
    flex-direction: column;
    width:fit-content;
    margin-top:"50px";
  }

  
}


  
.single-user{
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 18px;
  margin-right: 0.5rem;
  position: relative;
  margin-top: 10px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.user-card {
  color: white;
  background-color: #000000;
  position: relative;
  border-radius: 10px;
  width: 383px;
  padding: 5px;

  @media (max-width: 594px) {
    
    width: 90vw;
  }

}

.user-card .text-content{
  width: 170px;
}

.user-card .name{
  font-weight: 780;
}

.user-card .text, 
.user-card .date{
  font-size: 14px;
  color: rgb(180,180,180);
}

.user-online{
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(8,219,8);
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 2;
}

.messages-box{
  margin-bottom: 30px;
  height: fit-content;  
}



.box{
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* .vetical-stack{

  flex-direction: column;
} */

.chat-header {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: white;
  background: rgb(0, 0, 0); 
}


.message{
  background: black;
  color: white;
  max-height: calc(100vh-15rem);
  max-width: 50vw;
  overflow-y: auto;
  /* padding: 0 2rem; */
  padding: 10px;
  border-radius: 10px;
  margin-left: 16px;
  

}
.message.self{
  color: black;
  background: #e0e1dd;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.message-footer{
  font-size: 12px;
  align-self: flex-end;
  font-weight: 400;
}

.chat-input{

  width: 100%;
  background: rgb(171, 171, 171);
  padding: 1rem;
  z-index: 5;
}

.send-btn{
  background: rgb(253, 253, 253);
  color: white;
  width: 45px;
  height: 35px;
  border-radius: 100%;
}

.notifications{
  position: relative;
}

.notifications-icon {
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.notifications-box{
  max-height: 50vh;
  width: 380px;
  position: absolute;
  top: 2rem;
  padding: 10px;
  border-radius: 10px;
  right: 0;
  box-shadow: rgba(50,50,93,8,25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;
  background: #181d31;
  color: white;
  z-index: 5;
}

.notifications-header{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.notification-box h3 {
  font-weight: 780;
  font-size: 20px;
}

.mark-as-read {
  cursor: pointer;
  font-weight: 760;
  opacity: 0.8;
}

.this-user-notifications {
  margin-top: 5px;
  display: flex;
  background: #06bd9b;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.notification {
  font-size: 14px;
  margin: 1rem 8;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(207,207,207);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem,1rem;
}

.notification.not-read{
  background: #263159;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

.notification-time{
  margin-top: 0.2rem;
  font-size: 12px;
  color: white;
}
.chat-box{

  max-height: 80vh;
  overflow:auto;
  background: rgb(25, 25, 25);
  border-radius: 20px;
  

}

.notification-count{

  display: flex;
  background: #000000;
  margin-top: 3px;
  color: white;
  height: 25px;
  width: 25px;
  font-size: 14px;
  font-weight: 760;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -15px;


}
